.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store



# Calibration outputs
#Calibration/progress_logs/
#Calibration/diagnostics/
Calibration/runs/
Calibration/tests/
Calibration_real_data/runs/
Calibration_real_data/progress_logs/

#Data
Data/
.positai

# Compiled Fortran binaries (platform-specific, recompile on each system)
*.so
*.o
*.mod

# logs and stored objects
*.rds
*.log.RDataTmp
.DS_Store
